html{
    scroll-behavior: smooth;
}

:root{
    background-color: #EBEEF5;
}

body,
body {
    display: flex;
    margin:0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Montserrat, sans-serif';
}